<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>My <%= @gallery.name %> Gallery</title>
  </head>
  <body>
    <h1><%= @gallery.name %></h1>
    <h2><a href="/galleries/<%= @gallery.id %>/edit">Edit</a></h2>
    <% @images.each do |image| %>
      <img src="<%= image.url %>" alt="<%= image.name %>">
    <% end %>
    <p><a href="/">HOME</a></p>
  </body>
</html>